* {
  box-sizing: border-box;
}

.container {
  border: 2px solid red;
  padding: 24px 24px 0 24px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
}

.box {
  border: 3px solid lightgray;
  margin-bottom: 24px;
}

.box-wrapper {
  width: 50%;
  padding-right: 24px;
}

.box-large {
  width: 50%;
}

.box-small {
  height: 50px;
}
